.header {
	display: flex;
	align-items: center;
	padding: 20px;
	opacity: .9;
}

.header img {
	height: 48px;
	margin-right: 16px;
}

.header div {
	font-size: 32px;
	opacity: .7;
	font-family: monospace;
}