.setting {
	display: flex;
	align-items: flex-start;
	align-items: center;
	flex: 1;
	margin: 8px;
	padding: 12px;
	border-radius: 8px;
	background: #8883;
	color: #555;
	cursor: pointer;
	transition: background .2s, color .2s, box-shadow .2s, transform .2s;
}

.setting:active {
	transform: scale(0.95);
	transition: none;
}

.setting[data-enabled=true] {
	background: #F443;
	color: #822;
}

.setting .material-symbols-outlined {
	font-size: 24px;
}

.setting .material-symbols-outlined {
	margin-right: 10px;
}

.setting .name {
	font-weight: bold;
}

.setting .desc {
	margin-top: 2px;
	font-size: .9em;
	opacity: .6;
}